@CHARSET "UTF-8"; 
/* CSS Document */
.myLogo {
	float: left;
}

.mySearch {
	width: 70%;
	/*height:20px;*/
	float: left;
	display: inline-block;
}
#myFont {
	border-radius: 4px;
}

.ad {
	height: 150px;
	background-color: #FFF;
	margin: 0;
	width: 100%;
}
.portions {
	width: 100%;
	background-color: white;
	padding-top: 2%;
	padding-bottom: 2%;
	margin: 0;
}

.portions table {
	width: 100%;
	font-family: "Microsoft YaHei", 微软雅黑, "MicrosoftJhengHei", 华文细黑, STHeiti,
		MingLiu;
	font-size: 9px;
	color: #999;
	font-weight: normal;
	margin: 0;
}

.portions table tr td {
	margin: 0;
	padding: 0;
	width: 20%;
	text-align: center;
}
